body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #c1b5a1;

}
.top {
    background-color: #F0EBE3;
    
}

.middle-container {
    background-color: #c1b5a1;
    padding-bottom: 0px;

}

.bottom-container {
    background-color: #6b614f;
    padding-top: 20px;
}

.mountain{
    position: absolute;
    left: 400px;
    top: 90px;
}

.cloud{
    position: absolute;
    left: 900px;
    top: 170px;
}

h1{

    font-family: "Sacramento", cursive;
    margin-top: 0;
    font-size: 562%;
    color: #5f430f;
    margin-bottom: 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #5f430f;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #5f430f;
    margin-top: 0;
}

.skill-row{
    width: 50%;
    margin: 10px auto 100px auto;
    text-align: left;
    line-height: 1.5;

}

.user{
    width: 150px;
    height: 150px;
    align-items: center;
    float: left;
    margin-right: 30px;
}

.skill-row1 {
    width: 50%;
    margin: 10px auto 100px auto;
    text-align: left;
    line-height: 1.5;
    
}

.laptop{
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 30px;
}

.Hello{
    margin-top: 10px;
}

.Get{
    color: #c1b5a1;
}



