body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: antiquewhite;

}
.top {
    background-color: #F0EBE3;
    
}

.middle-container {
    background-color: #c1b5a1;
    padding-bottom: 20px;

}

.bottom-container {
    background-color: #7D9D9C;
    padding-top: 20px;
}

.mountain{
    position: absolute;
    left: 400px;
    top: 90px;
}

.cloud{
    position: absolute;
    left: 800px;
    top: 140px;
}

h1{

    font-family: "Sacramento", cursive;
    margin-top: 0;
    font-size: 562%;
    color: #5f430f;
    padding-bottom: -30px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #5f430f;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #5f430f;
}

.skill-row{
    margin-top: 100px auto 100px auto;

}

.user{
    width: 150px;
    height: 150px;
}





